<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <span>
          {{ site.title }}
        </span>
      </h1>
     
	  <p class="">Coder & Photographer</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
		<a class="sidebar-nav-item" href="#">About</a>

      <a class="sidebar-nav-item" href="{{ site.github }}">GitHub project</a>
	  <a class="sidebar-nav-item" href="{{ site.flickr }}">Flickr</a>
    </nav>
	
	<span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
